.example-container {
    max-height: 90vh;    
    max-width: 100%;
    overflow: auto;
}

table {
    width: 800px;
}

// mat-card {
//     margin: 10%;
// }
th {
    background-color: black !important;
    color: white;
}
.flex-end{
    justify-content: end;
}